:root{
    --pink:#e97ea7;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1ms linear;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    /* overflow: hidden; */
}
section{
    padding:2rem 9%;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,0.05);
}
.heading span{
    color: var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--pink);
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
header .logo span{
    color: var(--pink);
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
color:var(--pink);
}
header .search-box{
    background-color: none;
    border-radius: 0.5rem;
    padding: 0.1rem;
    text-align: center;
}
header .search-box form{
    flex: 1 1 40rem;
    box-shadow: 0 0.1rem 1.5rem rgba(0,0,0,.1);
    border: 0.1rem solid rgba(0,0,0,.1);
    padding: 1rem 1rem;
   background: #fff;
   border-radius: 0.5rem;

}
header .search-box form input{
    font-size: 2rem;
    color: #333;
    text-transform: none;
    border: 0.1rem solid rgba(0,0,0,.1);
    border-radius: 0.5rem;
    text-align: center;
}
header .search-box form button{
    font-size: 2rem;
   margin-left: 1rem;
    color: #333;
    position: relative;
}
header .search-box form button:hover{
    color: var(--pink);
}

header .icons a{
   font-size: 2.5rem;
   margin-left: 1.5rem;
    color: #333;
}
header .icons a:hover{
    color:var(--pink);
} 
header #toggle{
    display: none;

}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0,0,0,0.3);
   display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(Photo/homepage.jpg);background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 1.5;
}
/* about */
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video-containter{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-containter video{
    width: 100%;
    border-radius: 5rem;
    border: 1.5rem solid #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}
.about .row .video-containter h3{
    position: absolute;
    top :50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #333;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;

}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
/* icon */
.icon-conta{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icon-conta .icons{
    background: #fff;
    border: 1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex : 1 1 25rem;
}  
   
.icon-conta .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icon-conta .icons h3{
    color: #333;
    padding-bottom:0.5rem ;
    font-size: 1.5rem;
}
.icon-conta .icons span{
    color: #999;
    font-size: 1.3rem;
}

/* product */
.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.product .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 5rem;
    border: 0.1rem solid rgba(0,0,0,.1);
    position: relative;
}

.product .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    z-index: 1;
    border-radius: 0.5rem;
    background: rgba(255,51,153,0.05);
}

.product .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.product .box-container .box .image img{
    height: 25rem;

}
.product .box-container .box:hover .image img{
    transform: scale(1.1);
    
}
.product .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem ;left: 0;right: 0;
    display: flex;
}
.product .box-container .box:hover .image .icons{
    bottom: 0;
}
.product .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: #fff;
}
.product .box-container .box .image .icons a:hover{
background: #333;
}

.product .box-container .box .image .icons .cart-btn{
    border-left: 0.1rem solid #fff7;
    border-right: 0.1rem solid #fff7;
    width: 100%;
}

.product .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.product .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.product .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}
.review .box-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-cont .box{
    flex:1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    position: relative;
}
   
.review .box-cont .box .fa-quote-right{
position: absolute;
bottom: 3rem ; right: 3rem;
font-size: 6rem;
color: #eee;
}
.review .box-cont .box .stars i{
color: var(--pink);
font-size: 2rem;
}
.review .box-cont .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
    }
.review .box-cont .box .user{
    padding-top:2rem ;
    display: flex;
    align-items: center;
}

.review .box-cont .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-cont .box .user h3{
    color: #333;
    font-size: 2rem;
}
.review .box-cont .box .user span{
    color: #999;
    font-size: 2rem;
}

/* contact */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    padding: 2rem 2.5rem;
   background: #fff;
   border-radius: 0.5rem;

}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 1rem solid rgba(0,0,0,.1);
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: var(--pink);
}
.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row .image img{
width: 100%;
}
    
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.contact .contact-info{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    
}
.contact .contact-info .box1{
    background-color: none;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}

.contact .contact-info .box1 i{
height: 5rem;
width: 5rem;
line-height: 5rem;
font-size: 2.5rem;
background-color: #d6d0d0;
border-radius: 0.5rem;
color: #333;
}
.contact .contact-info .box1 i:hover{
    color:var(--pink);
}
.contact .contact-info .box1 h3{
    font-size: 2rem;
    color: #333;
}
.contact .contact-info .box1 a{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem ;
    color: #333;
}
.contact .contact-info .box1 a:hover{
   text-decoration: underline;
}
.contact .contact-info .box1 .map{
    border-radius: none;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    margin-right: 1rem;
}


/* footer */
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 3rem;
    color: #333;
    padding: 1rem 0;
}

.footer .box-container .box a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
    display: block;
}
.footer .box-container .box a:hover{
    color: var(--pink);
}
footer .box-container .box img{
    margin-top: 1rem;
}
.footer .creadit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: 0.1rem solid rgba(0,0,0,.1);
}
.footer .creadit span{
    color: var(--pink);
}














/* media queries */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem ;
    }
    section{
        padding: 2rem ;
    }
    .home{
        background-position: auto;
    }
}
@media(max-width:768px){
 header .fa-bars{
    display: block;
 }
 header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #eee;
    border-top: 1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0,100% 0,0 0);
 }
 header #toggle:checked ~ .navbar{
    clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
 }
 header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background:#fff;
    border: 1rem solid rgba(0,0,0,.1);
    display:block
    
 }

 .home .content h3{
    font-size: 5rem;

 }
 .home .content span{
    font-size: 2.5rem;
    
 }
 .icon-conta .icons h3{
    font-size: 2rem;
}
.icon-conta .icons span{
    font-size: 1.7rem;
}

}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size:3rem ;
    }
}